h1{
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
}
.as-row{
margin: 10px 5px;
}
.as-left{
    text-align: left;
  }
input{
    width: 100%;
}
.butt{
    min-width: 90px;
}